.row.post(data-id= message.id)
  .col-md-8.col-md-offset-2
    .post-img
      img.img-responsive(src="http://localhost:8000/"+message.image)
    .post-body
      .header
        strong.username= message.username
        .btn-group.vote-group
          button.btn.btn-danger.down
            i.vote.fa.fa-thumbs-o-down
          button.btn.btn-primary
            | #{message.vote}
          button.btn.btn-success.up
            i.vote.fa.fa-thumbs-o-up

        small.pull-right.text-muted
          i.fa.fa-clock-o
          |  #{postDate}

      p= message.comment
      p Expires #{expires}
